<div class="screen-1">
  <div class="logo-container">
    <img src="./assets/lawyersoft-high-resolution-logo-transparent.png" alt="Logo" />
  </div>
  <form (ngSubmit)="sendResetLink()" [formGroup]="forgotPasswordForm">
    <div  class="password-reset">
      <h3>Password Reset</h3>
      <p>To reset your password, enter the email address you use to sign in </p>
      <label for="Email">Email</label>
      <div class="sec-2">


        <input class="form-control" type="email" id="email" formControlName="email" placeholder="E-mail Address" required>
      </div>
    </div>


    <div class="form-button full-width">
      <button id="submit" type="submit" class="ibtn btn-forget">Send Reset Link</button>
    </div>
  </form>
  <div class="footer">
    <a href="/register">Sign up</a>
    <a href="/forgotPassword">Forgot Password?</a>
  </div>
</div>
