

<!-- CSS FILES -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

<link href="../Lawyer/lawyer-view/css/bootstrap.min.css" rel="stylesheet">

<link href="../Lawyer/lawyer-view/css/bootstrap-icons.css" rel="stylesheet">

<link href="../Lawyer/lawyer-view/css/tooplate-mini-finance.css" rel="stylesheet">
<app-lawyer-side-bar-navbar></app-lawyer-side-bar-navbar>


<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
  <div class="title-group mb-3">
    <h1 class="h2 mb-0">Profile</h1>
  </div>

  <div class="row my-4">
    <div class="col-lg-7 col-12">
      <div class="custom-block custom-block-profile">
        <div class="row">
          <div class="col-lg-12 col-12 mb-3">
            <h3 style="font-size:20px;">General</h3>
          </div>

          <div class="col-lg-3 col-12 mb-4 mb-lg-0">
            <div class="custom-block-profile-image-wrap">
              <img [src]="imageUrl || 'http://bootdey.com/img/Content/avatar/avatar1.png'" class="custom-block-profile-image img-fluid" alt="">


            </div>
          </div>

          <div class="col-lg-9 col-12">
            <p class="d-flex flex-wrap mb-2">
              <strong>Name:</strong>

              <span>{{client?.firstName}} {{client?.familyName}}</span>
            </p>

            <p class="d-flex flex-wrap mb-2">
              <strong>Email:</strong>

              <a href="#">
                {{client?.email}}
              </a>
            </p>

            <p class="d-flex flex-wrap mb-2">
              <strong>Phone:</strong>

              <a href="#">
                {{client?.phoneNumber }}
              </a>
            </p>

            <p class="d-flex flex-wrap mb-2">
              <strong>Birthday:</strong>

              <span> {{client?.birthdate }}</span>
            </p>

            <p class="d-flex flex-wrap">
              <strong>Address:</strong>

              <span>                {{client?.adress }}
</span>
            </p>
          </div>
        </div>
      </div>

      <div class="custom-block custom-block-profile bg-white">
        <h6 class="mb-4">Recent Cases</h6>

        <div *ngIf="cases.length === 0" class="no-cases-message text-center text-muted fs-5 " style="font-size: 18px; color: #999;">
          <p>No cases available</p>
        </div>

        <!-- Loop through cases and display them -->
        <div *ngFor="let cas of cases" class="d-flex align-items-center border-bottom pb-3 mb-3">
          <div *ngIf="cas.client?.id==userId">
            <div class="d-flex align-items-center">
              <mat-icon class="exchange-image img-fluid fs-3" style="font-size: 30px; color: #3f51b5;">gavel</mat-icon>
              <div class="ms-2">
                <p>{{ cas.caseType }}</p>
                <h6>{{ cas.client?.firstName }} {{ cas.client?.familyName }}</h6>
              </div>
            </div>

            <div class="ms-auto text-center">
              <small>Status</small>
              <h6>{{ cas.caseStatus }}</h6>
            </div>

            <div class="ms-auto text-center">
              <small>Date</small>
              <h6>{{ cas.start }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-12">
      <div class="custom-block custom-block-contact">
        <h6 class="mb-4" style="font-size:30px;">Hearing History</h6>


        <div *ngFor="let case of cases" class="d-flex align-items-center border-bottom pb-3 mb-3">
          <ng-container *ngIf="case.hearings && case.hearings.length > 0">
            <a href="#">
              <mat-icon class="profile-image" style="font-size: 50px; color: #3f51b5;">balance</mat-icon>
            </a>

            <div class="ms-3">
              <!-- Loop through each hearing in the current case -->
              <div *ngFor="let hearing of case.hearings">
                <h6 style="color:white; font-size: 20px;">
                  Date: {{ hearing.start ? (hearing.start | date: 'short') : 'No Date Available' }}
                </h6>
                <p style="color:white; font-size: 18px;">Title: {{ hearing.title || 'No Title' }}</p>

                <!-- Add a line to separate hearings -->
                <hr style="border: 1px solid #fff; margin: 10px 0;">
              </div>
            </div>
          </ng-container>
        </div>


        <a href="#" class="btn custom-btn custom-btn-bg-white mt-3">
          Chat with us
        </a>
      </div>
    </div>
  </div>

</main>
