<div class="screen-1">
  <div class="logo-container">
    <img src="./assets/lawyersoft-high-resolution-logo-transparent.png" alt="Logo" />
  </div>
  <div *ngIf="showAlert" class="alert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'danger'}" role="alert">
    {{ alertMessage }}
  </div>


  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="email">
    <label for="Email">Email</label>
    <div class="sec-2">

      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Email should be valid</small>
      </div>      <input type="email" id="email" formControlName="email" placeholder="E-mail Address" required />
    </div>
  </div>

  <div class="password">
    <label for="password">Password</label>
    <div class="sec-2">
      <input class="form-control" type="password" id="password" formControlName="password" placeholder="Password" required>
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</small>
      </div>
    </div>
  </div>

  <button id="submit" type="submit" class="login" [disabled]="loginForm.invalid">Login</button>
</form>
  <div class="footer">
    <a href="/register">Sign up</a>
    <a href="/forgotPassword">Forgot Password?</a>
  </div>
</div>
