<!--<div class="container-fluid" style=" background:#ececec; padding-top:150px; padding-left:500px;">-->
<!--  <div class="container-xl px-4 mt-4"  >-->
<!--    &lt;!&ndash; Account page navigation&ndash;&gt;-->
<!--    <hr class="mt-0 mb-4">-->
<!--    <div class="row">-->
<!--      <div class="col-xl-4" style="width:350px; ">-->

<!--        &lt;!&ndash; Profile picture card &ndash;&gt;-->
<!--        <div class="card mb-4 mb-xl-0" style="border: 1px solid #ccc; border-radius: 8px;">-->
<!--          <div class="card-header" style="font-weight: bold;background-color: #4c3575;color:white">Profile Picture</div>-->
<!--          <div class="card-body text-center">-->
<!--            <div class="profile-picture-container" style="width:150px; display: flex; justify-content: center; align-items: center; margin: 0 auto;">-->
<!--              <img *ngIf="imageUrl" [src]="imageUrl" alt="Profile Picture" class="img-account-profile" style="border: 2px solid #ccc; border-radius: 50%; padding: 5px; width: 100%; height: auto;">-->
<!--            </div>-->
<!--            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>-->
<!--            <input type="file" class="form-control mb-2" (change)="onFileChange($event)"  formControlName="image">-->
<!--            <button class="btn btn-primary" (click)="uploadProfilePic()" style="background-color: #4c3575; border-color: #4c3575;">Upload</button>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="col-xl-8" style="width:900px;">-->
<!--        &lt;!&ndash; Account details card&ndash;&gt;-->
<!--        <div class="card mb-4" style="border: 1px solid #ccc; border-radius: 8px;">-->
<!--          <div class="card-header" style="font-weight: bold;background-color: #4c3575;color:white">Account Details</div>-->
<!--          <div class="card-body">-->
<!--            <form [formGroup]="lawyerForm" (ngSubmit)="updateProfile()">-->
<!--              <div class="row gx-3 mb-3">-->
<!--                &lt;!&ndash; Form Group (first name)&ndash;&gt;-->
<!--                <div class="col-md-6">-->
<!--                  <label class="small mb-1" for="inputFirstName">First name</label>-->
<!--                  <input class="form-control" id="inputFirstName" formControlName="firstName" type="text" placeholder="Enter your first name" style="border: 1px solid #ccc;">-->
<!--                </div>-->
<!--                &lt;!&ndash; Form Group (last name)&ndash;&gt;-->
<!--                <div class="col-md-6">-->
<!--                  <label class="small mb-1" for="inputLastName">Last name</label>-->
<!--                  <input class="form-control" id="inputLastName" formControlName="familyName" type="text" placeholder="Enter your last name" style="border: 1px solid #ccc;">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; Form Row &ndash;&gt;-->
<!--              <div class="row gx-3 mb-3">-->
<!--                &lt;!&ndash; Form Group (phone number)&ndash;&gt;-->
<!--                <div class="col-md-6">-->
<!--                  <label class="small mb-1" for="inputPhone">Phone number</label>-->
<!--                  <input class="form-control" id="inputPhone" formControlName="phoneNumber" type="tel" placeholder="Enter your phone number" style="border: 1px solid #ccc;">-->
<!--                </div>-->
<!--                &lt;!&ndash; Form Group (birthday)&ndash;&gt;-->
<!--                <div class="col-md-6">-->
<!--                  <label class="small mb-1" for="inputBirthday">Birthday</label>-->
<!--                  <input class="form-control" id="inputBirthday" formControlName="birthdate" type="text" placeholder="Enter your birthday" style="border: 1px solid #ccc;">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; Form Row &ndash;&gt;-->
<!--              <div class="row gx-3 mb-3">-->
<!--                &lt;!&ndash; Form Group (office address)&ndash;&gt;-->
<!--                <div class="col-md-6">-->
<!--                  <label class="small mb-1" for="inputOrgName">Office Address</label>-->
<!--                  <input class="form-control" id="inputOrgName" formControlName="office_adress" type="text" placeholder="Enter your office address" style="border: 1px solid #ccc;">-->
<!--                </div>-->
<!--                &lt;!&ndash; Form Group (password)&ndash;&gt;-->
<!--                <div class="col-md-6">-->
<!--                  <label class="small mb-1" for="inputPassword">Password</label>-->
<!--                  <input class="form-control" id="inputPassword" formControlName="password" type="password" placeholder="Enter your password" style="border: 1px solid #ccc;">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; Form Group (email address)&ndash;&gt;-->
<!--              <div class="mb-3">-->
<!--                <label class="small mb-1" for="inputEmailAddress">Email address</label>-->
<!--                <input class="form-control" id="inputEmailAddress" formControlName="email" type="email" placeholder="Enter your email address" style="border: 1px solid #ccc;">-->
<!--              </div>-->
<!--              &lt;!&ndash; Save changes button&ndash;&gt;-->
<!--              <button class="btn btn-primary" type="submit" style="background-color: #4c3575; border-color: #4c3575;">Save changes</button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
