

<!-- CSS FILES -->
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

<link href="../../Lawyer/lawyer-view/css/bootstrap.min.css" rel="stylesheet">

<link href="../../Lawyer/lawyer-view/css/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<link href="../../Lawyer/lawyer-view/css/tooplate-mini-finance.css" rel="stylesheet">
<app-client-side-bar-navbar></app-client-side-bar-navbar>



<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
  <div class="title-group mb-3">
    <h1 class="h2 mb-0">Profile</h1>
  </div>

  <div class="row my-4">
    <div class="col-lg-7 col-12">
      <div class="custom-block custom-block-profile">
        <div class="row">
          <div class="col-lg-12 col-12 mb-3">
            <h3 style="font-size:20px;">General</h3>
          </div>

          <div class="col-lg-3 col-12 mb-4 mb-lg-0">
            <div class="custom-block-profile-image-wrap" >
              <img [src]="profileImageLawyer || 'http://bootdey.com/img/Content/avatar/avatar1.png'" class="custom-block-profile-image img-fluid" alt="">



            </div>
          </div>

          <div *ngFor="let lawyer of lawyers" class="col-lg-9 col-12">
            <p class="d-flex flex-wrap mb-2">
              <strong>Name:</strong>
              <span>{{ lawyer.firstName }} {{ lawyer.familyName }}</span>
            </p>

            <p class="d-flex flex-wrap mb-2">
              <strong>Email:</strong>
              <a href="#">
                {{ lawyer.email }}
              </a>
            </p>

            <p class="d-flex flex-wrap mb-2">
              <strong>Phone:</strong>
              <a href="#">
                {{ lawyer.phoneNumber }}
              </a>
            </p>

            <p class="d-flex flex-wrap mb-2">
              <strong>Specialization:</strong>
              <span>{{ lawyer.speciality }}</span>
            </p>

            <hr> <!-- Separator between lawyers -->
          </div>
        </div>
      </div>

      <div class="custom-block custom-block-profile bg-white" >
        <h6 class="mb-4">Rating</h6>
      <app-rating></app-rating>



      </div>
    </div>

    <div class="col-lg-5 col-12">
      <div class="custom-block custom-block-contact" *ngFor="let lawyer of lawyers">
        <h6 class="mb-4" style="font-size:30px;">Bio</h6>

        <p class="custom-bio-text">{{lawyer.info}}</p> <!-- Improved text styling -->
      </div>
    </div>

  </div>

</main>
