<div class="blank-layout-container justify-content-center align-items-center bg-light-primary"
     style="min-height: 100vh; background-image: url('./assets/elegant-frame-border-background-with-judge-concept-featuring-scales-justice-ornate-design-elements_43969-51095-transformed.jpeg'); background-size: cover; background-position: center;">
  <div
    class="position-relative row w-100 h-100 justify-content-center"
    style="border-radius: 15px; padding: 40px; background: transparent;"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth" style="box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); border-radius: 12px; background-color: white;">
        <mat-card-content class="p-32" style="padding: 32px;">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/lawyersoft-high-resolution-logo-transparent.png" style="width: 150px"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>

          <form class="m-t-30" style="margin-top: 30px;">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
            >Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>

            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
            >Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
              >Forgot Password ?</a>
            </div>
            <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100">
              Sign In
            </a>
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
          >New to Modernize?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
